*{
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif,Verdana,Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 16px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h3{
    padding: 0px 18px;
    margin:16px 0px 6px 0px;
}

.container{
    background-color: #ffffff;
    padding: 5px 20px 15px 20px;
    border: none;
    border-radius: 4px;
    max-width: 600px;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.Name,.Student_Standard_Division{
    display: flex;
    flex-direction: row;
}
.Student_Standard_Division{
    margin: 24px 0px;
}

.Student_First_name,.Student_Last_name,.Student_Standard,.Student_Division{
    width: 50%;
}

.Student_Standard,.Student_Division{
    padding: 0px 60px 0px 18px;
}

.Student_First_name,.Student_Last_name,#image_file ,.student_photo{
    padding: 0px 18px;
}

input[type="file"]{
    position: absolute;
    z-index: -1;
    top:3px;
    left: 18px;
    font-size: 12px;
    color: #b8b8b8;
}

.button-wrap{
    position: relative;
}
.button{
    font-size: 16px;
    display: inline-block;
    background-color: #5C13FE;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    width: 100px;
    padding: 4px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 5px 5px 18px;
    left: 20px;
}

.First_name,.Last_name{
    display: inline-block;
    font-size: small;
    margin: 6px 0px;
    color: #5C13FE;
}

.Standard,.Division,.student_photo{
    font-weight: bold;
    margin: 6px 0px;
}

legend{
    font-weight: bold;
}

input[type="text"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.main_heading{
    text-align: center;
}
select{
    text-align: center;
    background-color: white;
    cursor: pointer;
}

fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px 18px;
    display: flex;
    align-items: center;
}

hr{
    border-color: #ccc;
    border-top: #ccc;
    border-left: #ccc;
}


input[type="submit"]{
    background-color: #5C13FE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: medium;
    
    
}
input[type="submit"]:hover{
    background-color: #864ffc;
}
input#file-upload-button{
    cursor: pointer;
    background: #864ffc;
}


#male{
    cursor: pointer;
}
#female{
    cursor: pointer;
}
@media screen and (max-width:650px) and (min-width:550px) {
    body
    {font-size: 15px;
}
}
@media screen and (max-width:550px) and (min-width:500px) {
    body
    {font-size: 14px;
}
}
@media screen and (max-width:500px) and (min-width:450px) {
    body
    {font-size: 13px;
}
}
@media screen and (max-width:450px) and (min-width:400px) {
    body
    {font-size: 12px;
}
}
@media screen and (max-width:400px){
    body
    {font-size: 11px;
}
}

.custom-shape-divider-top-1673549831 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1673549831 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 326px;
}

.custom-shape-divider-top-1673549831 .shape-fill {
    fill: #5C13FE;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1673549831 svg {
        width: calc(152% + 1.3px);
        height: 326px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1673549831 svg {
        width: calc(214% + 1.3px);
        height: 223px;
    }
}